<h2 id = "detail_title">{{post.title}}</h2>
<div id = "detail_info">Posted by: {{post.user.username}}</div>
<div id = "detail_info">Topic: {{post.topic}}</div>
<div id = "detail_info">Create at: {{post.createdAt}}</div>

<br>
<div id = "detail_body">
    {{post.body}}
</div>

<div>
    <h3 id = "comment_title">Comments</h3>
{{#each post.comments as |c|}}
<div>
    <div id = "comment_info">
        <div>{{c.createdAt}}</div>
    </div>
    <p id = "comment_body">{{c.user}}:{{c.body}}</p>
</div>
{{/each}}
</div>

<div id = "new_comment">
    <form method="POST" action="/post/{{post.slug}}/comment" >
        <div>
            <label for="body">Add New Comment:</label>
            <input type="text" name="body" value="" style="width:65%">
        </div>
        <div style="text-align :right">
            <input type="submit" value="comment" >
        </div>
    </form>
</div>

<div id="edit_delete">
<a href="/post/{{post.slug}}/delete">Delete</a>
 |
<a href="/post/{{post.slug}}/edit">Edit</a>
</div>
