<h2 id = "detail_title">{{post.title}}</h2>
<div>Posted by: {{post.user.username}}</div>
<div>Topic: {{post.topic}}</div>
<div>Create at: {{post.createdAt}}</div>
<br>
<div>{{post.body}}</div>

likes

<div>
    comment
    
</div>
